<div class="header">
  <a href="{{@blog.url}}" class="blog-title">
    {{#if @blog.icon}}
      <img class="blog-icon" src="{{@blog.icon}}" alt="{{@blog.title}}" title="{{@blog.title}}" />
    {{else}}
      <span>{{@blog.title}}</span>
    {{/if}}
  </a>
</div>
