<div class="navigation">
  {{#if @blog.icon}}
    <a class="item" href="/"><img class="blog-icon" src="{{@blog.icon}}" alt="{{@blog.title}}" title="{{@blog.title}}" /></a>
  {{/if}}
  {{#foreach navigation}}
    <a class="item" href="{{url absolute="true"}}">{{label}}</a>
  {{/foreach}}
</div>
