<ul>
  <li><a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" target="_blank">Share on Facebook</a></li>
  <li><a href="https://twitter.com/share?text={{title}}&url={{url absolute="true"}}" target="_blank">Share on Twitter</a></li>
  <li><a href="http://bufferapp.com/add" data-text="{{title}}" data-url="{{url absolute="true"}}" target="_blank">Share on Buffer</a></li>
</ul>
